@{
    ViewBag.Title = "Домашняя страница - зашифровать сообщение";
}

@model TatCypherWebApp.Models.MessageModel

<h2>Зашифровать сообщение</h2>

<div class="row">
    @using (Html.BeginForm("EncryptMessage", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.TextBoxFor(model => model.OriginalMessage)
        @Html.ValidationMessageFor(model => model.OriginalMessage)
        <button type="submit">Зашифровать</button>
    }
</div>